# Curso Análisis Económetrico en Python

Clase 1

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
# Comentario

In [ ]:
"""
Curso de Análisis Económetrico
Clase 1
En Python
"""

'\nCurso de Análisis Económetrico \nClase 1\nEn Python \n'

Variable. Lugar fisico dentro de la pc donde guardaremos cosas. Asignar Valores.

In [ ]:
# Nombrar variables
# Notación camello para variables

miVariable
miVariable2

NameError: name 'miVariable' is not defined

In [ ]:
# Notación Pascal

MiVariable
MiVariable2

In [ ]:
# Notación Serpiente (funciones)

_mi_variable
_mi_otra_variable

35 Palabras clave en Python

In [ ]:
# Valores Primitivos
# Cadenas, Enteros, Flotantes, Booleanos, Vacío
# Mutabilidad e Inmutabilidad
# Todos los valores primitivos son inmutables
# Cadena de caracteres ordenados: str, inmutables, iterables
# Declarar cadenas
"Hola, mundo."

'Hola, mundo.'

In [ ]:
'Hola, mundo!'

'Hola, mundo!'

In [ ]:
'''
Hola, mundo!
'''

'\nHola, mundo!\n'

In [ ]:
# Valores Primitivos
# Asignación de Variables
# Cadena de caracteres ordenados: str, inmutables, iterables
miCadena = "Hola, mundo!"
X = 'Esta es otra cadena'

In [ ]:
# Valores primitivos
# Enteros, int, inmutables, no son iterables
miEntero = -23

In [ ]:
# Valores primitivos
# Flotantes, float, inmutables, no son iterables
miFlotante = 3.14598

In [ ]:
# Valores primitivos
# Booleanos, bool, inmutables, no son iterables
True
False
miBool1 = True # 1
miBool2 = False # 0

In [ ]:
# Valores primitivos
# Ninguno, None, inmutable, no iterable
None
miVariable = None

In [ ]:
# Variables son mutables
# Python lenguaje dinamico
miInt = 10
miFloat = 8.5

miVariable = miInt
miOtraVariable = miVariable

In [ ]:
# Asignación Múltiple
x = 1
y = 2
z = 3

x, y, z = 1, 2, 3

miVar1, miVar2 = "Hola", 1.2

In [ ]:
# Operaciones con valores primitivos # Cubiculo 116 edif. b, estadistica descriptiva, econometria, algebra lineal.
# Operaciones con cadena
miVar1 = "Hola"
miVar2 = "Mundo"

# Metodos de salida (funciones)
print(miVar1,miVar2)
print("Hola, mundo")

Hola Mundo
Hola, mundo

In [ ]:
# Metodo de entrada (input)
nombre = input("Ingresa tu nombre: ") # Prompt
print("Hola tu nombre es", nombre)

Ingresa tu nombre: alberto
Hola tu nombre es alberto

In [ ]:
# Operaciones con cadenas
miVar1 = "Hola"
miVar2 = "Mundo"

# Concatenar + (unir cadenas)
resultado = miVar1 + miVar2
print(resultado)
print(miVar1 + ". Eres mi" + miVar2)

HolaMundo
Hola. Eres miMundo

In [ ]:
# Operaciones con cadenas
# Repetir *

resultado = miVar2 * 5
print(resultado)

resultado1 = 5 * "SUPER"
print(resultado1 + "YEAH!")

MundoMundoMundoMundoMundo
SUPERSUPERSUPERSUPERSUPERYEAH!

In [ ]:
# Operaciones con cadenas
# Indexar [] Extraer un caracter de una cadena
resultado2 = miVar2[-5]
print(resultado2)
print(miVar2[0])

M
M

In [ ]:
# Operaciones con cadenas
# Rebanar (slicing) [a:b-1] Acceder a una subcadena de una cadena a traves de un rango
miVar3 = "Hola. Mundo"
resultado4 = miVar3[2:7]
print(resultado4)

la. M

In [ ]:
# Verificar in
resultado5 = "hola" in miVar3
print(resultado5)

False

In [ ]:
# Operaciones con vslores primitivos numericos

# Suma +
miVar4 = 1
miVar5 = 2.5

resultado6 = miVar4 + miVar5
print("El resultado es:", resultado6)

# Resta
resultado7 = miVar4 - miVar5
print("El resultado es:", resultado7)

# Multiplicación
resultado8 = miVar4 * miVar5
print("El resultado es:", resultado8)

# Division
resultado9 = miVar4 / miVar5
print("El resultado es: ", resultado9) # resultado es flotante

# Division entera
resultado10= miVar4 // miVar5
print("El resultado es: ", resultado10)

# Division módulo %
resultado11 = miVar4 % miVar5
print("El resultado es: ", resultado11)

# Exponenciacion ** enteros o decimales
resultado12 = miVar4 ** 5
print("El resultado es: ", resultado12)

El resultado es: 3.5
El resultado es: -1.5
El resultado es: 2.5
El resultado es:  0.4
El resultado es:  0.0
El resultado es:  1.0
El resultado es:  1

In [ ]:
# Operaciones con booleanos
miVar6 = True
miVar7 = False

# Conjunción y (and)
resultado13 = miVar6 and miVar7
print(resultado13)

# Disyunción or
resultado14 = miVar6 or miVar7
print(resultado14)

# Negación not convierte un flaso en verdadero y viceversa
resultado15 = not miVar6
print(resultado15)

False
True
False

In [ ]:
# Operación de comparación
# Igual que ==
miVar8 = 10
miVar9 = 12
resultado16 = miVar8 == miVar9
print(resultado16)

# Distinto de !=
resultado17 = miVar8 != miVar9
print(resultado17)

# Mayor que >
resultado18 = miVar8 > miVar9
print(resultado18)

# Menor que <
resultado19 = miVar8 < miVar9
print(resultado19)

# Mayor o igual que >=
resultado20 = miVar8 >= miVar9
print(resultado20)

# Mneor o igual que <=
resultado21 = miVar8 <= miVar9
print(resultado21)

False
True
False
True
False
True

In [ ]:
# type() # tipo

var3 = None
var5 = True

print(var3, "es de tipo: ", type(var3))
print(var5, "es de tipo: ", type(var5))

None es de tipo:  <class 'NoneType'>
True es de tipo:  <class 'bool'>

In [ ]:
# Estructurar los valores primitivos
# Clases Fundamentales (listas, tupas, diccionarios, conjuntos)
# Lista, tipo: list (secuencia de elementos ordenados). Las listas son mutables e iterables, ordenadas.  []
var3 = [1, 2, 3, True, None] # Lista

print(var3)
print(type(var3)) # Mutable significa que podemos quitarle valores o agregarle
# Indices para los elementos de la lista ej. indice 0 = 1 en var3

var4 = [1,3,4,5]
var5 = [1.2,1.3,1.4]
var6 = [var3, var4, var5] # Lista mixta

print(var6)

[1, 2, 3, True, None]
<class 'list'>
[[1, 2, 3, True, None], [1, 3, 4, 5], [1.2, 1.3, 1.4]]

In [ ]:
# Clases Fundamentales (listas, tupas, diccionarios, conjuntos)
# Tuplas, tipo: tuple, () Secuencias de elmentos ordenados. Son inmutables pero iterables. objetos de elementos secuenciados
# No se pueden modificar, agregar o quitar elementos
var7 = (2,4,5,6)

print(type(var7))
print(var7)

<class 'tuple'>
(2, 4, 5, 6)

In [ ]:
# Clases Fundamentales (listas, tupas, diccionarios, conjuntos)
# Conjuntos, type: set. Colecciones de elemantos únicos no ordenados. Mutables e iterables. {}
# Secuencia de elementos/valores
# No puede haber elementos del mismo valor
# Los conjuntos no tienen indice.

var8 = {0,2,3,4,5,5,2, "HOLA", True} # 1 = True, 0 = False
print(type(var8))
print(var8)

<class 'set'>
{0, True, 2, 3, 4, 5, 'HOLA'}

In [ ]:
# Clases Fundamentales (listas, tupas, diccionarios, conjuntos)
# diccionario, type: dict, {}. estructura única. No admite repetidos
# n elementos. Los elementos estan conformados por otros dos elementos, clave y valor
# {clave1:valor1, clave2:valor2,... }
miVar10 = {"Nombre":"Jésus", "Edad":33, "Sexo":"Maculino", "Hijos":["Ramón", "Romario"]}

print(type(miVar10))
print(miVar10)

<class 'dict'>
{'Nombre': 'Jésus', 'Edad': 33, 'Sexo': 'Maculino', 'Hijos': ['Ramón', 'Romario']}

In [ ]:
# operaciones con listas. mutables

miVar11 = [1, 2.5, "Hola", True, None]
miVar12 = [2, 4.6, "Adios", False]

# Concatenar +
miVar13 = miVar11 + miVar12
print(miVar13)
print(type(miVar13))

# Repetir *
miVar14 = 3 * miVar11
print(miVar14)
print(type(miVar14))

# Indexar []
miVar15 = miVar11[2]
print(miVar15)
print(type(miVar15))

# Rebanar [a:b-1:c]
miVar16 = miVar11[1:5:2]
print(miVar16)
print(type(miVar16))

# Modificar [a]= b
miVar11[2] = 3.14
print(miVar11)
print(type(miVar16))

# Verificar in
resultado1 = "Hola" in miVar11
print(resultado1)
print(type(miVar16))

[1, 2.5, 'Hola', True, None, 2, 4.6, 'Adios', False]
<class 'list'>
[1, 2.5, 'Hola', True, None, 1, 2.5, 'Hola', True, None, 1, 2.5, 'Hola', True, None]
<class 'list'>
Hola
<class 'str'>
[2.5, True]
<class 'list'>
[1, 2.5, 3.14, True, None]
<class 'list'>
False
<class 'list'>

In [ ]:
# Operaciones con tuplas ()

miVar15 = (1, 2.5, "Hola", True, None)
miVar16 = (2, 4.6, "Adios", False)

resultado2 = miVar15 + miVar16
print(resultado2)

# Repetir *
resultado3 = 3 * miVar15
print(resultado3)

# Indexar
resultado4 = miVar15[1]
print(resultado4)

# Rebanar
resultado5 = miVar15[1:3:2]
print(resultado5)

# verififcar in
resultado6 = False in miVar15
print(resultado6)

(1, 2.5, 'Hola', True, None, 2, 4.6, 'Adios', False)
(1, 2.5, 'Hola', True, None, 1, 2.5, 'Hola', True, None, 1, 2.5, 'Hola', True, None)
2.5
(2.5,)
False

In [ ]:
# Operaciones con conjuntos. mutables e iterables

miVar17 = {1, 2.5, "Hola", True, None}
miVar18 = {2, 4.6, "Adios", False}

# Verificar in
resultado7 = 0 in miVar17
print(resultado7)

False

In [ ]:
# Operaciones con diccionarios

miVar19 = {"Nombre":"Jesus", "Edad":2.5, "Hijos":False, "Casado":[1,2,3,[0,5,6]]}

# Modificar
miVar19["Hijos"] = True
miVar19["Nombre"] = "Chucho"

miVar19["Casado"][0] = 20

#miVar19["Casado"][0][2] = 100

print(miVar19)

# Modificar in
resultado8 = "Hijos" in miVar19
print(resultado8)

{'Nombre': 'Chucho', 'Edad': 2.5, 'Hijos': True, 'Casado': [20, 2, 3, [0, 5, 6]]}
True

In [ ]:
# metodoss generales
# Entrada y Salida

print(1,2,5+2, 4*[1,2], sep="---") # sep(separador), tabulador
print(1,2,5+2, 4*[1,2], sep="\n") # sep(separador), tabulador
print(1,2,5+2, 4*[1,2], sep=" ") # sep(separador), tabulador
print(1,2,5+2, 4*[1,2], end="\t****\n") # end(separador), tabulador
print(1,8,9)

1---2---7---[1, 2, 1, 2, 1, 2, 1, 2]
1
2
7
[1, 2, 1, 2, 1, 2, 1, 2]
1 2 7 [1, 2, 1, 2, 1, 2, 1, 2]
1 2 7 [1, 2, 1, 2, 1, 2, 1, 2]	****
1 8 9

In [ ]:
# Metodod de entrada y salida
nombre = input("Escribe tu nombre: ")
print("Tu nombre es:",nombre)

Escribe tu nombre: Mario
Tu nombre es: Mario

In [ ]:
# Métodos integrados. objetos y variables.
# Métodos de conversión, int(), float(), bool(), str()

miVar20 = 1
miVar20 = str(miVar20)
print(type(miVar20))
print(miVar20)

nombre1 = int(input("Escribe un número: "))
print("Tu número es:",nombre1)
print(type(nombre1))

suma = nombre1 + 10
print("El total es " + str(suma))
print(type(suma))

<class 'str'>
1
Escribe un número: 66
Tu número es: 66
<class 'int'>
El total es 76
<class 'int'>

In [ ]:
# Métodos integrados. objetos y variables. type(), id(), len(), zip()
# Métodos de conversión, tuple(), list[], set(), dict()

miVar21 = [1, 2.3, 5, 6.7, 8]
miVar21 = tuple(miVar21)

print(miVar21)
print(type(miVar21))

miVar22 = (1, 2.3, 5, 6.7, 8)
miVar22 = list(miVar22)

print(miVar22)
print(type(miVar22))


miVar23 = (1, 2.3, 5, 6.7, 8)
miVar23 = set(miVar23)

print(miVar23)
print(type(miVar23))

miVar24 = dict(Nombre="Jesus", Edad=25, Hijos=True)
print(miVar24)
print(type(miVar24))

miVar25 = 12
miId = id(miVar25)
print(miId)
print(type(miVar25))


len(miVar21)

(1, 2.3, 5, 6.7, 8)
<class 'tuple'>
[1, 2.3, 5, 6.7, 8]
<class 'list'>
{1, 2.3, 5, 6.7, 8}
<class 'set'>
{'Nombre': 'Jesus', 'Edad': 25, 'Hijos': True}
<class 'dict'>
137960742994512
<class 'int'>

5

In [ ]:
# Métodos integrados: type(), id(), len(), zip(), range(), sum(), enumerate(), abs(), max(), min(), round()
miVar26 = "Hola"
miVar27 = "Mundo"

zipper = zip(miVar26, miVar27)
print(zipper)

# Métodos integrados: type(), id(), len(), zip()
miVar28 = "Hola"
miVar29 = "Mundo"
miVar30 = [1, 2, 3]

zipper = list(zip(miVar1, miVar2, miVar3))

print(zipper)
print(type(zipper))

# Métodos integrados: type(), id(), len(), zip(), range()
#
miVar36 = list(range(0,20,2))

print(miVar36)
print(type(miVar36))

# Métodos integrados: type(), id(), len(), zip(), range(),sum()

#
miVar37 = [1, 2, 4, 6, 3, 8, 9, 4, 8]

resultado = sum(miVar37)

print(resultado)
print(type(resultado))

miVar31 = [1,2, "hola", True]
resultado9 = list(enumerate(miVar31))

print(miVar31)
print(type(miVar31))

miVar32 = abs(4.5)
print(miVar32)

miVar33 = [1,2,4,5,6,7,8]
res = max(miVar33)

print(res)

res1 = min(miVar33)
print(res1)

res2 = round(2.337777, 2)
print(res2)

miVar34 = list(reversed(miVar33))
print(miVar34)

miVar35 = sorted(miVar33)
print(miVar35)

<zip object at 0x7d793067e440>
[('H', 'M', 1), ('o', 'u', 2), ('l', 'n', 3)]
<class 'list'>
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
<class 'list'>
45
<class 'int'>
[1, 2, 'hola', True]
<class 'list'>
4.5
8
1
2.34
[8, 7, 6, 5, 4, 2, 1]
[1, 2, 4, 5, 6, 7, 8]

In [ ]:
# Métodos de clases
# objeto.metodo(p1,p2,p3,...,p5)
miCadena = "HOLA, MUndo"
miVar36 = miCadena.capitalize() # Primera letra en mayuscula y lo demas en minuscula
print(miVar36)

miVar37 = miCadena.count("o")
print(miVar37)

miVar38 = miCadena.upper()
print(miVar38)

miVar39 = miCadena.replace("O", "o")
print(miVar39)

Hola, mundo
1
HOLA, MUNDO
HoLA, MUndo

In [ ]:
# Métodos de clases fundamentales
# objeto.metodo()
# Partir
miVar40 = miCadena.split(",")
print(miVar40)

miCadena1 = ["HOLA, MUndo, tre,dos"]
miVar41 = "-".join(miCadena1)
print(miVar41)

miVar42 = miCadena.replace("O", "a")
print(miVar42)

# Metodos:append(), extend()
miVar43 = [1,2,4,"hola,", True]

miVar43.append("adios") # Lista con elemento adicional
print(miVar43)

miVar43.extend([33,77,88]) # Añadir nueva lista a la lista actual
print(miVar43)

['HOLA', ' MUndo']
HOLA, MUndo, tre,dos
HaLA, MUndo
[1, 2, 4, 'hola,', True, 'adios']
[1, 2, 4, 'hola,', True, 'adios', 33, 77, 88]

In [ ]:
# Métodos de clases fundamentales
# Metodo clear ()
# Listas
#miVar43.clear()
#print(miVar43)

# Contar ()
result = miCadena.count("o")
print(result)

# Metodos: remove(), por()
miVar44 = [3,4,5,6,7,8]
miVar44.remove(3)
print(miVar44)

# pop
miVar44.pop(2)
print(miVar44)

# reverse
miVar44.reverse()
print(miVar44)

# sort. ordenar en orden ascendente
miVar44.sort()
print(miVar44)

1
[4, 5, 6, 7, 8]
[4, 5, 7, 8]
[8, 7, 5, 4]
[4, 5, 7, 8]

In [ ]:
# Métodos de clases fundamentales
# Tuplas. inmutables, no se pueden cambiar

miVar45 = (3,4,5,6,7,8)

result1 = miVar45.count(4)
print(result1)

result2 = miVar45.index(4)
print(result2)

1
1

In [ ]:
# Metodos de conjuntos, no admiten valores repetidos. add(). "Teoria de conjuntos". Pilar de la matematicas modernas
miVar46 = {3,4,5,6,7,8}
miVar47 = {2,4,6,8,10}

miVar46.add(10)
print(miVar46)

#miVar46.clear()
#print(miVar46)

miVar47.remove(10)
print(miVar47)

miVar47.discard(2)
print(miVar47)

miVar47 = miVar46.difference(miVar47)
print(miVar47)

result3 = miVar46.intersection(miVar47)
print(result3)

result4 = miVar46.union(miVar47)
print(result4)

{3, 4, 5, 6, 7, 8, 10}
{2, 4, 6, 8}
{4, 6, 8}
{10, 3, 5, 7}
{10, 3, 5, 7}
{3, 4, 5, 6, 7, 8, 10}

In [ ]:
# Métodos de clases fundamentales
# Metodos de diccionarios

miVar48 = {"Nombre": "Jesus", "Edad":33}
print(miVar48)

miLista = ["A", "B", "C"]

miVar49 = dict.fromkeys(miLista)
miVar49["A"] = "Manzana"
miVar49["B"] = "Pera"
miVar49["C"] = [1,2,3,4]
miVar49["D"] = (1,2,5,6,)

miVar49.pop("D")
print(miVar49)


result5 = miVar49.get("C")
print(result5)

claves = miVar49.keys()
print(claves)

valores = miVar49.values()
print(valores)

todo = miVar49.items()
print(todo)
#miVar48.clear()
#print(miVar48)

{'Nombre': 'Jesus', 'Edad': 33}
{'A': 'Manzana', 'B': 'Pera', 'C': [1, 2, 3, 4]}
[1, 2, 3, 4]
dict_keys(['A', 'B', 'C'])
dict_values(['Manzana', 'Pera', [1, 2, 3, 4]])
dict_items([('A', 'Manzana'), ('B', 'Pera'), ('C', [1, 2, 3, 4])])

In [ ]:
# Estructura de control
# Condiciones
# if
'''
if (expresion):
    instrucciones
'''

X = 10
if (X == 10):
  print("La expresion es verdadera")
  print("La expresion es verdadera")
  print("La expresion es verdadera")

La expresion es verdadera
La expresion es verdadera
La expresion es verdadera

In [ ]:
Y = 10
print("El robot camina") # Variables globales
if (Y == 10):
  print("El robot se detiene") # Variables locales
print("El robot te saluda")

El robot camina
El robot se detiene
El robot te saluda

In [ ]:
# Revisas estadistica descriptiva y algebra lineal. Centralidad, dispersion, de forma

In [ ]:
# Control de flujo
# if - else

print("Esta linea es independiente de if")
valor = 10
if (valor > 0):
  print("El valor es positivo")
else:
  print("El valor es menor que cero")


print("Esta linea es independiente de if")

Esta linea es independiente de if
El valor es positivo
Esta linea es independiente de if

In [ ]:
# Control de flujo
# if - else

print("El robot esta caminando")
valor1 = "hoyo"
if (valor1 == "pared"):
  print("Una pared!")
  print("El robot gira a la derecha")
else:
  print("Un hoyo!")
  print("El robot brinca el hoyo")

print("El robot sigue continua...")

El robot esta caminando
Un hoyo!
El robot brinca el hoyo
El robot sigue continua...

In [ ]:
# Control de flujo
# if - elif - else

print("El robot esta caminando")

valor2 = "canta"

if (valor2 == "pared"):
  print("Una pared!")
  print("El robot gira a la derecha")
elif (valor2 == "hoyo"):
  print("Un hoyo!")
  print("El robot brinca el hoyo")
elif (valor2 == "canta"):
  print("A cantar!")
  print("El robot esta cantando")
else:
  print("El robot chifla y camina")

print("El robot sigue continuando...")

El robot esta caminando
A cantar!
El robot esta cantando
El robot sigue continuando...

In [ ]:
# Control de flujo
# if - elif - else

X = 0
if X > 0:
  print(f"El valor {X} es positivo")
elif  X < 0:
  print(f"El valor {X} es negativo")
else:
  print(f"El valor {X} es igual a cero")

El valor 0 es igual a cero

In [ ]:
# Control de flujo
# Ciclos: while, for. while, Se repite Un numero no determinado de veces

"""
contador =
while (expresion logica):
  Bloque de instrucciones
"""

contador = 0
while contador < 10:
  print(f"Hola, mundo! {contador}")
  contador = contador + 1

print("El programa termino")

Hola, mundo! 0
Hola, mundo! 1
Hola, mundo! 2
Hola, mundo! 3
Hola, mundo! 4
Hola, mundo! 5
Hola, mundo! 6
Hola, mundo! 7
Hola, mundo! 8
Hola, mundo! 9
El programa termino

In [ ]:
# Control de flujo
# Ciclos: while, for

"""

for elemento iterable:
  Bloque de instrucciones
"""

for letra in "Hola":
  print("Hola mundo!")

Hola mundo!
Hola mundo!
Hola mundo!
Hola mundo!

In [ ]:
# Control de flujo
# Ciclos: while, for. FOR, Se repite Un numero determinado de veces

"""

for elemento iterable:
  Bloque de instrucciones
"""

for letra in "Hola":
  print(letra)

H
o
l
a

In [ ]:
# Control de flujo
# Ciclos: while, for

"""

for elemento iterable:
  Bloque de instrucciones
"""
iterable = "Hola"
for i in iterable:
  print(i)

H
o
l
a

In [ ]:
# Control de flujo
# Ciclos: while, for. Iterable, realizar una accion por cada elemento de un objeto iterable

"""

for elemento iterable:
  Bloque de instrucciones
"""
variable = [1, 2.5, True, "Hola", None]
for j in variable:
  print(j)

1
2.5
True
Hola
None

In [ ]:
# Control de flujo
# Ciclos: while, for. Iterable, realizar una accion por cada elemento de un objeto iterable

"""

for elemento iterable:
  Bloque de instrucciones
"""
for j in range(10):
  print(f"se imprime el elemento {j}")

se imprime el elemento 0
se imprime el elemento 1
se imprime el elemento 2
se imprime el elemento 3
se imprime el elemento 4
se imprime el elemento 5
se imprime el elemento 6
se imprime el elemento 7
se imprime el elemento 8
se imprime el elemento 9

In [ ]:
# Interrupcion de ciclos
# break y continue


contador = 0
while (contador <= 10):
  print(contador)
  contador += 1
  if contador % 2 == 0:
    break

print("Se rompio el ciclo")

0
1
Se rompio el ciclo

In [ ]:
# Interrupcion de ciclos
# break y continue

for i in [1,3,5,7,8,9,10]:
  if (i % 2 == 0):
    break
  print(i)
print("El programa se rompio")

1
3
5
7
El programa se rompio

In [ ]:
# Interrupcion de ciclos
# break y continue

i = 1
while (i <= 10):
  if (i ==7):
    i += 1
    continue
  elif (i ==2):
    i += 1
    continue
  print(i)
  i += 1

1
3
4
5
6
8
9
10

In [ ]:
# Interrupcion de ciclos
# break y continue

for i in [1,4,2,5,7,9,10]:
  if (i % 2 == 0):
    continue
  print(i)

1
5
7
9

In [ ]:
# Comparación de números

num = (float(input("Ingresa un numero: ")))
if (num > 0):
  print(f"El numero {num} es mayor que cero")
elif (num < 0):
  print(f"El numero {num} es menor que cero")
else:
  print(f"El numero {num} es igual a cero")

Ingresa un numero: 2
El numero 2.0 es mayor que cero

In [ ]:
# Verificar si una letra es vocal o consonante

letra = input("Escribe una letra: ")

vocales = "aeiou"
if letra in vocales:
  print(f"{letra} es una vocal")
else:
  print(f"{letra} es una consonante")

Escribe una letra: w
w es una consonante

In [ ]:
# Comprobar si un año determinado es bisiesto

dato = int(input("Escribe un año: "))
if dato % 4 == 0:
  if dato % 400 == 0:
    print(f"{dato} es un año bisiesto")
  else:
    print(f"{dato} no es bisiesto")
else:
    print(f"El año {dato} no es bisiesto")

Escribe un año: 1222
El año 1222 no es bisiesto

In [ ]:
# Comprobar si un año determinado es bisiesto

dato = int(input("Escribe un año: "))

if (dato % 4 == 0 and not dato % 200 == 0) or dato % 400 != 0:
  print("Es bisiesto")
else:
  print("No bisiesto")

Escribe un año: 2024
Es bisiesto

In [ ]:
# Clasificacion de temperatura
temperatura = float(input("Ingresa la temperatura: "))

if temperatura < 0:
  print("Congelado")
elif 0 <= temperatura <= 15:
  print("Hace frio")
elif 16 <= temperatura <= 25:
  print("Temperatura templada")
elif 26 <= temperatura <= 35:
  print("Hace calor")
else:
  print("Es un infierno")

Ingresa la temperatura: 45
Es un infierno

In [ ]:
# Determinar el tipo de triangulo

lado1 = float(input("Ingresa el primer lado: "))
lado2 = float(input("Ingresa el primer lado: "))
lado3 = float(input("Ingresa el primer lado: "))

print("--------")
if lado1 == lado2 == lado3:
  print("Equilatero")
elif lado1 == lado2 or lado1 == lado3 or lado2 == lado3:
  print("Isosceles")
else:
  print("Escaleno")
print("--------")
print("--------")

Ingresa el primer lado: 12
Ingresa el primer lado: 12
Ingresa el primer lado: 12
--------
Equilatero
--------
--------

In [ ]:
# Determinar si un numero es positivo y par. Algebra superior carmen gomez laveaga

num = float(input("Ingresa el numero: "))

if num > 0:
  if num % 2 == 0:
    print("El numero es positivo y par")
  else:
    print("El numero es negativo y es impar")
elif num < 0:
  if num % 2 == 0:
        print("El numero es negativo y par")
  else:
    print("El numero es negativo y es impar")
else:
  print("El numero es cero")
if num > 0:
  pass
elif num < 0:
  pass
else:
  pass

Ingresa el numero: -32
El numero es negativo y par

In [ ]:
# Evaluar contraseña

contraseña = input("Escribe una contraseña: ")

if len(contraseña) < 6:
  print("La contraseña es muy corta.")
elif not any(char.isdigit() for char in contraseña):  # elif not any(i.isdigit() for i in contraseña):
  print("La contraseña debe contener al menos un numero")
elif not any(char.isupper() for char in contraseña):
  print("La contraseña debe contener al menos una mayuscula")
elif not any(char.islower() for char in contraseña):
  print("La contraseña debe contener al menos una minuscula")
elif not any(char in "!@#$%" for char in contraseña):
  print("La contraseña debe contener al menos un caracter especial")
else:
  print("La contraseña es segura")

Escribe una contraseña: Flores1213%
La contraseña es segura

In [ ]:
# while

contador = 0

while contador <= 5:
  print("Hola")
  print(contador)
  contador = contador + 1

Hola
0
Hola
1
Hola
2
Hola
3
Hola
4
Hola
5

In [ ]:
# while

i = 0

while i <= 5:
  print("Hola", i)
  i += 1   # i = i +1

print("Se termino")

In [ ]:
# while

i = 0
suma = 0

while i <= 10:
  suma += i
  i += 1   # i = i +1
  print("suma")

suma
suma
suma
suma
suma
suma
suma
suma
suma
suma
suma

In [ ]:
# Conteo en reversa

cuenta = 10

while cuenta > 0:
  print(cuenta)
  cuenta -= 1 # cuenta = cuenta - 1

print("Empecemos!")

10
9
8
7
6
5
4
3
2
1
Empecemos!

In [ ]:
# Encontrar el primer multiplo de 3 mayor que 10

numero = 10

while numero % 3 !=0:
  numero += 1

print(numero)

12

In [ ]:
numSecreto = 7
numUsuario = int(input("Escribe tu numero: "))

while numUsuario != numSecreto:
  numUsuario = int(input("Escribe tu numero: "))

print("Adivinaste!")

Escribe tu numero: 4
Escribe tu numero: 5
Escribe tu numero: 2
Escribe tu numero: 7
Adivinaste!

In [ ]:
# Tablas de multiplicar

num = int(input("Dame un numero: "))
multiplicador = 0

while multiplicador <= 10:
  print(f"{num} x {multiplicador} = {num * multiplicador}")
  multiplicador += 1

Dame un numero: 78
78 x 0 = 0
78 x 1 = 78
78 x 2 = 156
78 x 3 = 234
78 x 4 = 312
78 x 5 = 390
78 x 6 = 468
78 x 7 = 546
78 x 8 = 624
78 x 9 = 702
78 x 10 = 780

In [ ]:
# Bucle para imprimir for
# imprimir los números del 1 1al 5

iterable = "12345"
iterable2 = [1,2,3,4,56,22]
print(type(iterable))

for elemento in iterable2:
  print(elemento)

<class 'str'>
1
2
3
4
56
22

In [ ]:
for i in range(1,105,4):
  print(i)

1
5
9
13
17
21
25
29
33
37
41
45
49
53
57
61
65
69
73
77
81
85
89
93
97
101

In [ ]:
# Sumar numeros del uno al diez
suma = 0
for i in range (1,11):
  print(i)
  suma += i
print(suma)

1
2
3
4
5
6
7
8
9
10
55

In [ ]:
suma = 0
for i in range (1,11):
  suma = suma + i
print(suma)
print(sum(range(1,11)))

55
55

In [ ]:
cadena = "Hola, Calamardo"

for i in cadena:
  print(i)

H
o
l
a
,

C
a
l
a
m
a
r
d
o

In [ ]:
# la suma del producto de dos numeros

Z = [10,9,8,9,10,6,7,8]

suma = 0
for i in Z:
  suma += i ** 2
print(suma)

575

In [ ]:
# Contar la cantidad de vocales en la cadena
cadena1 = "Me gusta programar"
vocales = "aeiou"

contador = 0
totalNoVocales = 0
for i in cadena1:
  if i in vocales:
    contador += 1
  else:
    totalNoVocales += 1
print(f"El numero de vocales es {contador}")
print(totalNoVocales)

El numero de vocales es 6
12

In [ ]:
# Imprimir las tablas de 1 al 5
# Ciclo anidado

for i in [1,2,3,4,5,6,7,8,9,10]:
  for j in [1,2,3,4,5,6,7,8,9,10]:
    print(f"{i} x {j} = {i * j}")
  print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
# Encontar el numero mas grande de una lista
lista = [3,5,7,2,8,9]

print(max(lista))

mayor = lista[0]
for i in lista:
  if i > mayor:
      mayor = i
print(f"El numero mayor es {mayor}")

9
El numero mayor es 9

In [ ]:
# Generar un patron de asteriscos en forma de triangulos

altura = 25

for i in range (1, altura + 1):
  #for j in range (i):
   # print("*", end="")
  #print()
  print("*" * i)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************
*********************
**********************
***********************
************************
*************************

In [ ]:
lista2 = [ 10,8,9,2,3,6,7,8,9]

# Media aritmetica
suma0 = sum(lista2)
print(suma0)

62

In [ ]:
listaMedia = [10,8,9,2,3,6,7,8,9]

# Media aritmetica
# n el total de elementos
# suma de los elementos

n = 0
total = 0
for i in listaMedia:
  n = n + 1
  suma = suma + i

media_a1 = suma / n
print(media_a1)

75.77777777777777

In [ ]:
lista1 = [10,8,9,2,3,6,7,8,9]

# Media aritmetica
# n el total de elementos
# suma de los elementos
n= len(lista1)
suma1 = sum(lista1)
media_a = suma1 / n
print(media_a)

6.888888888888889

In [ ]:
Lista = []
# Media aritmetica
# n el total de elementos
# suma de los elementos

n = 0
suma2 = 0
for i in Lista:
  n += 1
  suma += i

if suma2 > 0:
  media_a2 = suma2 / n
  print(media_a2)
else:
  media_a2 = None
print(media_a2)

# accion verdadera if enunciado else accion falsa
media_a2 = suma2 / n if suma2 > 0 else None
print(media_a2)

None
None

In [ ]:
Lista = []
# Media aritmetica
# n el total de elementos
# suma de los elementos

n = 0
suma2 = 0
for i in Lista:
  n += 1
  suma2 += i

# accion verdadera if enunciado else accion falsa
media_a3 = suma2 / n if suma2 > 0 else None
print(media_a3)

None

In [ ]:
lista2 = [10,8,9,9,8,7,6,5,5,1]
pesos = [0.1,0.3,0.4,0.5,0.5,0.5,0.5,0.4,0.4,0.9]

# Media ponderada
suma_vp = 0
suma_p = 0
for i in range(0,10):
  suma_vp += lista2[i] * pesos[i]
  suma_p += pesos[i]

media_ponderada = suma_vp / suma_p
print(media_ponderada)

5.977777777777778

In [ ]:
lista3 = [10,8,9,9,8,7,6,5,5,1]
pesos1 = [0.1,0.3,0.4,0.5,0.5,0.5,0.5,0.4,0.4,0.9]

# Media ponderada
suma_vp_1 = 0
suma_p_1 = 0

zipeados = zip(lista3, pesos1)
print(list(zipeados))

[(10, 0.1), (8, 0.3), (9, 0.4), (9, 0.5), (8, 0.5), (7, 0.5), (6, 0.5), (5, 0.4), (5, 0.4), (1, 0.9)]

In [ ]:
lista4 = [10,8,9,9,8,7,6,5,5,1]
pesos2 = [0.1,0.3,0.4,0.5,0.5,0.5,0.5,0.4,0.4,0.9]

# Media ponderada
suma_vp_2 = 0
suma_p_2 = 0

for i,j in zip(lista4, pesos2):
  suma_vp_2 += i * j
  suma_p_2 += j

media_ponderada_2 = suma_vp_2 / suma_p_2
print(media_ponderada_2)

5.977777777777778